<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="${LOGGER_DEBUG_LOGBACK:-false}"
    packagingData="${LOGGER_PACKAGING_DATA:-true}">

    <property name="PATTERN"
        value="%d [%20.20thread] [%5level] [%logger{30}.%method] | %message%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/application.log</file>
        <append>false</append>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="${ROOT_LEVEL:-DEBUG}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>

